* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #124559;
}

.navbar-nav .nav-item .nav-link {
  font-size: 17px;
  color: #eff6e0;
}

.nav-line {
  position: absolute;
  margin-top: 15px;
  margin-left: 40px;
  width: 50vw;
  height: 1px;
  background-color: #eff6e0;
}

.main-item:hover {
  transform: scale(1.1);
  text-decoration: #eff6e0 underline 1px;
  text-underline-offset: 12px;
}

#main-page {
  height: 90vh;
}

.main-box-1 {
  height: 90vh;
  background-color: #eff6e0;
}

.main-box-2 {
  height: 90vh;
  background-color: #598392;
}

.retangle-1 {
  width: 400px;
  height: 50px;
  background-color: #aec3b0;
  margin-top: 2.5rem;
  border-bottom-right-radius: 500px;
  position: relative;
}

.sub-retangle-1 {
  width: 405px;
  height: 50px;
  background-color: #598392;
  margin-top: -44px;
  border-bottom-right-radius: 500px;
}

.main-name-1 {
  color: #124559;
  font-size: 3rem;
  margin: 40px 0 10px 150px;
}

.main-name-2 {
  color: #124559;
  font-size: 3rem;
  margin: 30px 0 10px 250px;
  color: #598392;
}

.main-name-3 {
  color: #124559;
  font-size: 3rem;
  margin: 30px 0 10px 300px;
}

.main-description {
  color: #01161e;
  margin: 80px 0px 0px 80px;
}

.main-description-2 {
  color: #01161e;
  margin: 5px 0 0 150px;
}

.retangle-2 {
  width: 800px;
  height: 50px;
  background-color: #aec3b0;
  margin-top: 4.5rem;
  border-top-right-radius: 500px;
  position: relative;
}

.sub-retangle-2 {
  width: 805px;
  height: 50px;
  background-color: #598392;
  margin-top: -57px;
  border-top-right-radius: 500px;
}

.img-thumbnail {
  position: relative;
  margin-left: 54vw;
  width: 25vw;
  margin-top: -45rem;
  border: 5px solid #eff6e0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#about {
  background-color: #aec3b0;
  height: 50vh;
}

.about-box-1 {
  height: 50vh;
  margin-left: 50px;
}

.circle-1 {
  margin-left: 75px;
  margin-top: -92px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #124559;
}

.circle-2 {
  margin-left: 77.5px;
  margin-top: -177px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #aec3b0;
}

.about-title {
  color: #124559;
  padding-left: 10px;
  padding-right: 10px;
}

.about-box-2 {
  justify-content: center;
  margin-left: 300px;
}

.about-line {
  position: relative;
  height: 2px;
  margin-left: 253px;
  margin-top: -181px;
  width: 20vw;
  background-color: #124559;
}

#projects {
  background-color: #eff6e0;
  height: 50vh;
}

.projects-box-1 {
  height: 50vh;
  margin-left: 80vw;
}

.projects-title {
  position: relative;
  color: #124559;
  padding-left: 10px;
  padding-right: 10px;
}

.circle-3 {
  margin-left: 1255px;
  margin-top: -270px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #124559;
}

.circle-4 {
  margin-left: 1257.5px;
  margin-top: -177.5px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #eff6e0;
}

.projects-line {
  position: relative;
  height: 2px;
  margin-left: 950px;
  margin-top: -90px;
  width: 20vw;
  background-color: #124559;
}

#skills {
  background-color: #aec3b0;
  height: 50vh;
}

.skills-box-1 {
  height: 50vh;
  margin-left: 50px;
}

.circle-5 {
  margin-left: 75px;
  margin-top: -259px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #124559;
}

.circle-6 {
  margin-left: 77.5px;
  margin-top: -177px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #aec3b0;
}

.skills-title {
  color: #124559;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 24px;
}

.skills-line {
  height: 2px;
  margin-left: 253px;
  margin-top: -91px;
  width: 20vw;
  background-color: #124559;
}

#contact {
  background-color: #eff6e0;
  height: 50vh;
}

.contact-box-1 {
  height: 50vh;
  margin-left: 80vw;
}

.contact-title {
  position: relative;
  color: #124559;
  padding-left: 10px;
  padding-right: 10px;
}

.circle-7 {
  margin-left: 1255px;
  margin-top: -270px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #124559;
}

.circle-8 {
  margin-left: 1257.5px;
  margin-top: -177.5px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #eff6e0;
}

.contact-line {
  position: relative;
  height: 2px;
  margin-left: 950px;
  margin-top: -90px;
  width: 20vw;
  background-color: #124559;
}
